{{>layout/header}}
<div class="wrapper">
    <main>
        <div class="container mt-5">
            <div class="text-center mb-5">
                <h1 class="fw-bold">아이템 추가</h1>
                <hr class="w-25 mx-auto">
            </div>
            <form action="/item/create" method="POST">
                <div class="mb-3">
                    <label class="form-label">상품명</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">설명</label>
                    <textarea class="form-control" name="description" required></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">가격</label>
                    <input type="number" class="form-control" name="price" min="0" max="2147483647" required>
                </div>
                <input type="hidden" name="seller" value="{{user.nickname}}" />
                <input type="hidden" name="seller_id" value="{{userId}}" />
                <button type="submit" class="btn btn-success">제출</button>
            </form>
        </div>
    </main>
    {{>layout/footer}}
</div>